*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

main{
    background: linear-gradient(-10deg, rgba(17, 19, 32, 1), rgba(46, 46, 73, 1));
    background-color: rgba(17, 19, 32, 1);
    width: 100%;
    position: relative;
}

header figure {
    position: absolute;
    right: 0;
    top: 0;
}

/* Ajusta a imagem */
header figure img {
    width: 60vh;
    display: block;
}

header{
    width: 100vh;
    height: 100vh;
}

.produtos{
    background: linear-gradient(to right,#5a7dfd, #6D9DFF, #8BB6FF, #84CEFF);
}

#carrosel{
    width: 80%;
    height: 20vh;
    margin: 0 10%;
    position: absolute;
    top: 80vh;
    display: flex;
    gap: 10vh;
    justify-content: center;
    background-color: transparent;
}

.card {
    background: linear-gradient(to right,#cdd8ff6c, #b0acc04b);
    border-radius: 2.4vh;
    width: 19.5vh;
    height: 19.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card div {
    background: rgba(17, 19, 32, 1);
    border-radius: 2.5vh;
    width: 19.2vh;
    height: 19.2vh;
    transition: all 1s;
}

.card div:hover {
    background: linear-gradient(to right,#576DFF, #84CEFF);
}