*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

main{
    background-color: #ffffff;
    width: 100%;
    position: relative;
}

header{
    background-image: 
    linear-gradient(rgba(255, 255, 255, 0.253), rgb(255, 255, 255)),  /* camada com opacidade */
    url('./img/gradient.png');                                        /* sua imagem de fundo */
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
}

header figure {
    display: flex;
    align-items: center;
    position: absolute;
    left: 10;
}

/* Ajusta a imagem */
header figure img {
    width: 50vh;
}

.produtos{
    background-color: #ffffff;
    display: flex;
    gap: 5vh;
    justify-content: center;
    margin: 10vh 0;
}

.produtos article{
    background-color: aqua;
    display: flex;
    justify-content: center;
}

.produtos article:hover img{
    transform: scale(1.2);
}

.produtos article figure{
    width: 40vh;
    background-color: rgb(226, 226, 226);
    display: flex;
    justify-content: center;
}

.produtos article figure img{
    width: 80%;
    transition: transform 0.4s cubic-bezier(0.10, 0.10, 0.10, 0.10);
}