*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

main{
    width: 100;
}

header{
    background-image: url('./img/frame2.png');
    width: 100%;
    height: 100vh;
    display: flex;
    position: relative;
}

.produtos{
    background: linear-gradient(to right,#5a7dfd, #6D9DFF, #8BB6FF, #84CEFF);
}

#carrosel{
    width: 80%;
    height: 20vh;
    margin: 0 10%;
    position: absolute;
    top: 80vh;
    display: flex;
    gap: 10vh;
    justify-content: center;
    background-color: transparent;
}

.card {
    background: linear-gradient(to right,#5a7dfd, #84CEFF);
    border-radius: 2.3vh;
    width: 20vh;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: clip-path 0.5s ease;
    clip-path: inset(0 0 0 0);
}

.card div {
    background: #ffffff;
    border-radius: 2vh;
    width: 19.5vh;
    height: 19.5vh;
    transition: 0.1s ease, opacity 0.3s ease;
    opacity: 1;
    overflow: hidden;
}

.card div:hover {
    opacity: 0;
}



